
  <div class="card text-center" >
    <img class="card-img-top img-thumbnail" src="../../../assets/12.jpg" alt="user">
  <div class="card-body">
    <h4 class="card-title">
      <a href="http://{{bill.website}}">{{bill.name}}</a>
    </h4>
    <p class="card-text">E-Mail : {{bill.email}}</p>
    <p class="card-text">Phone : {{bill.phone}}</p>

    <p class="card-text">Address : {{bill.address.street}}, {{bill.address.suit}}, ZIP :
      {{bill.address.zipcode}} </p>
    <p class="card-text">Company : {{bill.company.name}}</p>
  </div>
  <div class="card-footer">
    <a [routerLink]="['/users/', bill.id]" class="btn btn-secondary">View Details</a>
  </div>
</div>